body {
  font-family: Garamond, serif;
  background-color: #fefefe;
  color: #333;
}

h1 {
  color: #611111;
  text-align: center;
  font-size: 48px;
}

p {
  line-height: 1.6;
}

ul, ol {
  padding-left: 20px;
}